@import "tailwindcss";
/* index.css */
/* @tailwind base;
@tailwind components;
@tailwind utilities; */
html,body{
    overflow-x: hidden;
   
}z
*, *::before, *::after {
  box-sizing: border-box;
}

This s
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}